.groupContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
}

.msg{
  color: red;
}

.registration{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.registration button{
  width: 50px;
}